<div
	class="max-w-6xl transform scale-transition cursor-pointer"
>
	<slot
		name="background"
		class="object-cover w-full h-auto"
	/>
	<div class="p-5 text-white">
		<h5>
			<slot 
				name="title"
				class="text-lg font-semibold"
			>
		</h5>
	</div>
	
</div>
