---
import HeroSection from "@/components/HeroSection.astro";
import Knowledge from "@/components/Knowledge.astro";
import JuanCarlosImage from "@/components/JuanCarlosImage.astro";
import PresentationVideo from "@/components/PresentationVideo.astro";
import Layout from "@/layouts/Layout.astro";
import Footer from "@/components/Footer.astro";

const KnowledgeData = [
     {
          title: "Ritmo Musical",
          image: "",
          shortDesc:
               "Aprende a conectar con el ritmo de la música y a interpretarlo a través de tu cuerpo.",
     },
     {
          title: "Técnicas de Movimiento",
          image: "",
          shortDesc:
               "Descubre cómo moverte con fluidez y naturalidad, logrando una danza más expresiva.",
     },
     {
          title: "Baile Libre",
          image: "",
          shortDesc:
               "Baila sin necesidad de pareja y exprésate con libertad en la pista de baile.",
     },
     {
          title: "Pasos y Coreografía",
          image: "",
          shortDesc:
               "Domina las secuencias y los movimientos más característicos de la salsa.",
     },
];
---

<Layout title="Clases de Salsa | The Latin Action">
     <HeroSection>
          <div
               class="max-w-5xl container relative flex flex-col pt-8 lg:flex-row px-8 mx-auto lg:pt-24 lg:px-4"
               slot="heroImage"
          >
               <!-- For large screens -->
               <div
                    class="relative order-2 lg:order-none pt-12 flex flex-col items-center justify-center lg:w-1/2 lg:mx-6"
               >
                    <picture
                         class="z-20 aspect-w-16 aspect-h-9 h-auto w-full max-w-[400px] lg:hidden"
                    >
                         <img
                              decoding="async"
                              class="h-full w-full object-cover opacity-80 rounded-lg"
                              alt="Fotografía de Sara Panero"
                              src="https://imagedelivery.net/4-G5Kx2wHcK3gRDUXWrgEw/f39784e7-d142-4780-c4ff-a8203dbeb800/public"
                              draggable="false"
                              loading="eager"
                         />
                    </picture>

                    <div
                         class="absolute z-30 flex flex-col items-center justify-center text-center lg:text-left lg:pl-12s"
                    >
                         <span
                              class="hidden lg:block w-24 h-2 mb-10 bg-gradient-to-r from-gray-600 to-white rounded"
                         ></span>
                         <h1
                              class="mx-auto px-6 sm:px-8 md:px-10 max-w-md text-white text-3xl lg:text-4xl xl:text-5xl font-extrabold leading-tight uppercase"
                         >
                              Clases presenciales de
                              <span class="text-[#ca6cff]"
                                   >Salsa Latin Action</span
                              >
                         </h1>
                         <a
                              href="https://wa.me/34645089122?text=Hola,%20quiero%20más%20información%20sobre%20la%20clase%20de%20prueba"
                              class="mt-4 sm:mt-8 px-4 py-2 bg-[#ca6cff] text-white text-sm sm:text-base rounded-full transition-transform
                                                            transform hover:scale-105 hover:bg-[#b635ff] hover:shadow-lg"
                         >
                              Clase de prueba gratis
                         </a>
                    </div>
               </div>

               <!-- For large screens -->
               <div
                    class="relative order-1 lg:order-none pt-12 lg:w-1/2 lg:mx-6 hidden lg:block"
               >
                    <JuanCarlosImage />
               </div>
          </div>
     </HeroSection>

     <h2
          class="text-3xl font-extrabold text-white px-12 pt-10 flex flex-wrap items-center max-w-4xl w-full mx-auto lg:px-4"
     >
          ¿Qué aprenderás en las clases de{" "}
          <span class="text-[#ca6cff] ml-2">Salsa</span>?
     </h2>

     <p
          class="text-lg mt-6 text-white px-12 pb-10 px-12 max-w-4xl mx-auto lg:px-4"
     >
          En nuestras clases de Salsa, aprenderás a sentir y bailar al ritmo de
          la música, desarrollando habilidades para moverte de forma fluida y
          natural. Además, te enseñaremos cómo bailar sin pareja y a dominar las
          coreografías más populares. ¡Ven a disfrutar de una clase gratis y
          empieza a moverte con confianza!
     </p>

     <PresentationVideo>
          <!-- Mobile Video -->
          <!-- <video
				autoplay="autoplay"
				controls="controls"
				muted="muted"
				loop="loop"
				preload="preload"
				src="/LadyStyle.mp4"
				class="w-full h-auto object-contain rounded-lg shadow-lg opacity-80 px-6"
				slot="mobile-video"></video> -->

          <!-- Desktop Video -->
          <!-- <video
                              autoplay="autoplay"
                              controls="controls"
                              muted="muted"
                              loop="loop"
                              preload="preload"
                              src="/video-bg-juan-carlos.mp4"
                              class="w-full h-auto object-cover rounded-lg shadow-lg opacity-80"
                              slot="desktop-video"></video> -->
     </PresentationVideo>

     <Knowledge KnowledgeData={KnowledgeData} />

     <Footer />
</Layout>
