---
import HeroSection from "@/components/HeroSection.astro";
import Knowledge from "@/components/Knowledge.astro";
import Layout from "@/layouts/Layout.astro";

import Schedule from "@/components/Schedule.astro";
import Partners from "@/components/Partners.astro";
import Benefits from "@/components/Benefits.astro";

const KnowledgeData = [
  {
    title: "Sensualidad",
    image: "https://res.cloudinary.com/dgvvnopu7/image/upload/v1757765862/IMG_0770_o4hxof.jpg",
    shortDesc:
      "Aprende a bailar sin pareja y a expresarte con libertad en la pista.",
  },
  {
    title: "Movimiento de brazos",
    image: "/movimiento-brazos.webp",
    shortDesc:
      "Aprende a mover tus brazos con gracia y elegancia para darle un toque especial a tu baile.",
  },
  {
    title: "Movimiento Corporal",
    image: "https://res.cloudinary.com/dgvvnopu7/image/upload/v1757765957/IMG_0747_mtgmdf.jpg",
    shortDesc:
      "Descubre cómo mover tu cuerpo de forma fluida y femenina en nuestras clases de bachata en Elche.",
  },
  {
    title: "Coreografía",
    image: "https://res.cloudinary.com/dgvvnopu7/image/upload/v1757766208/1000022804_igoszs.jpg",
    shortDesc:
      "Domina las secuencias de pasos y los movimientos más populares de la bachata.",
  },
];
---

<Layout
  title="Clases de Bachata Lady Style en Elche | The Latin Action con Luna Gonzalez"
  description="Descubre el arte de la Bachata Lady Style en nuestras clases de bachata en Elche. Aprende a bailar con elegancia y actitud, potenciando tu feminidad y presencia en la pista con Luna Gonzalez."
  keywords="bachata lady style, clases de bachata en Elche, The Latin Action, baile femenino, danza latina, clases de baile Elche, bachata sensual Elche, lady style Elche, técnica de bachata femenina"
  canonical="https://thelatinaction.com/lady-style-elche/"
>
  <HeroSection
    mobileImage="https://res.cloudinary.com/dgvvnopu7/image/upload/v1757141975/foto_de_portada_luna_the_latin_action_salsa_y_bachata_lady_style_osojet_e74f06.jpg"
    tabletImage="https://res.cloudinary.com/dgvvnopu7/image/upload/v1757141975/foto_de_portada_luna_the_latin_action_salsa_y_bachata_lady_style_osojet_e74f06.jpg"
    xlImage="https://res.cloudinary.com/dgvvnopu7/image/upload/v1757193492/foto_de_portada_bachata_lady_style_the_latin_action_salsa_y_bachata_elche_jwavau.webp"
    heroTitle="Luna Gonzalez"
    heroSpan="Bachata Lady Style - The Latin Action"
    heroSubtitle="Explora la bachata desde una nueva perspectiva: elegante y con actitud."
  />

  <h2 class="text-4xl md:text-5xl font-bebas leading-relaxed uppercase max-w-5xl w-full mx-auto text-start mt-10 md:mt-14 px-6 md:px-4 text-freshEggplant-400">
    ¿Qué aprenderás en nuestras clases de
    <span class="text-freshEggplant-400 bg-clip-text font-bebas text-4xl md:text-5xl">Bachata Lady Style?</span>
  </h2>

  <p class="mt-10 max-w-5xl mx-auto px-6 pb-5 text-xl leading-relaxed text-gray-300 lg:px-4">
    Es hora de dejar salir tu lado más
    <span class="font-semibold text-pink-400 bg-clip-text">atrevido</span>
    en la pista. La bachata es mucho más que pasos: es
    <span class="font-semibold text-pink-400 bg-clip-text">
      actitud, pasión y sensualidad
    </span>
    . Aprende a moverte con seguridad, a destacar con tu estilo y a expresarte con
    fuerza femenina. De la mano de una de las mejores bailarinas internacionales,
    potenciarás tu presencia escénica y tu autenticidad en cada coreografía.
  </p>

  <Knowledge KnowledgeData={KnowledgeData} />

  <Benefits />

  <Schedule />

  <Partners />

</Layout>
