---
import HeroSection from "@/components/HeroSection.astro";
import Knowledge from "@/components/Knowledge.astro";
import PresentationVideo from "@/components/PresentationVideo.astro";
import Layout from "@/layouts/Layout.astro";
import Footer from "@/components/Footer.astro";
import Schedule from "@/components/Schedule.astro";
import Partners from "@/components/Partners.astro";
import Benefits from "@/components/Benefits.astro";

const KnowledgeData = [
  {
    title: "Movimiento de brazos",
    image: "/movimiento-brazos.webp",
    shortDesc:
      "Aprende a mover tus brazos con gracia y elegancia para darle un toque especial a tu baile.",
  },
  {
    title: "Movimiento Corporal",
    image: "/movimiento-corporal.webp",
    shortDesc:
      "Descubre cómo mover tu cuerpo de forma fluida y femenina en nuestras clases de bachata en elche.",
  },
  {
    title: "Sensualidad",
    image: "/sensualidad.webp",
    shortDesc:
      "Aprende a bailar sin pareja y a expresarte con libertad en la pista.",
  },
  {
    title: "Coreografía",
    image: "/coreografía.webp",
    shortDesc:
      "Domina las secuencias de pasos y los movimientos más populares de la bachata.",
  },
];
---

<Layout
  title="The Latin Action | Clases de Salsa y Bachata en Elche"
  description="Academia de baile en Elche especializada en salsa y bachata. Aprende a bailar con profesores expertos en un ambiente divertido y profesional."
  canonical="https://thelatinaction.com/"
>
  <HeroSection
    mobileImage="https://res.cloudinary.com/dgvvnopu7/image/upload/f_auto,q_auto/v1748358937/prpkxxafvcddvczygq9j"
    tabletImage="https://res.cloudinary.com/dgvvnopu7/image/upload/f_auto,q_auto/v1748358937/prpkxxafvcddvczygq9j"
    xlImage="/header-1.webp"
    heroTitle="Domina tu"
    heroSpan="Lady Style"
    heroSubtitle="Explora la bachata desde una nueva perspectiva: elegante y con actitud."
  />

  <h2
    class="text-4xl font-extrabold tracking-tight text-freshEggplant-200
         px-4 pt-10 mb-14 max-w-5xl w-full mx-auto lg:px-4 drop-shadow-md"
  >
    ¿Qué aprenderás en las clases de
    <span class="text-white font-extrabold tracking-wide">Lady Style</span>?
  </h2>

  <p
    class="mt-10 max-w-5xl mx-auto px-4 pb-5 text-xl leading-relaxed text-gray-300 lg:px-4"
  >
    Es hora de dejar salir tu lado más
    <span class="font-semibold text-pink-400 bg-clip-text">atrevido</span>
    en la pista. La bachata es mucho más que pasos: es
    <span class="font-semibold text-pink-400 bg-clip-text">
      actitud, pasión y sensualidad
    </span>
    . Aprende a moverte con seguridad, a destacar con tu estilo y a expresarte con
    fuerza femenina. De la mano de una de las mejores bailarinas internacionales,
    potenciarás tu presencia escénica y tu autenticidad en cada coreografía.
  </p>

  <PresentationVideo>
    <!-- Aquí puedes añadir tus videos, con clases responsivas -->
  </PresentationVideo>

  <Knowledge KnowledgeData={KnowledgeData} />

  <Benefits />

  <Schedule />

  <Partners />

  <Footer />
</Layout>
