---
import HeroSection from "../../components/HeroSection.astro";
import Knowledge from "../../components/Knowledge.astro";
import MarcoImage from "../../components/MarcoImage.astro";
import PresentationVideo from "../../components/PresentationVideo.astro";
import Layout from "../../layouts/Layout.astro";

const KnowledgeData = [
          {
                    title: "Ritmo Musical",
                    image: "",
                    shortDesc: "Aprende a conectar con el ritmo de la música y a interpretarlo a través de tu cuerpo.",
          },
          {
                    title: "Técnicas de Movimiento",
                    image: "",
                    shortDesc: "Descubre cómo moverte con fluidez y naturalidad, logrando una danza más expresiva.",
          },
          {
                    title: "Baile Libre",
                    image: "",
                    shortDesc: "Baila sin necesidad de pareja y exprésate con libertad en la pista de baile.",
          },
          {
                    title: "Pasos y Coreografía",
                    image: "",
                    shortDesc: "Domina las secuencias y los movimientos más característicos de la salsa.",
          },
];
---

<Layout title="Clases de Salsa | The Latin Action">
          <HeroSection>
                    <div
                              class="max-w-4xl container relative flex flex-col pt-8 lg:flex-row px-8 mx-auto lg:pt-24 lg:px-0"
                              slot="heroImage"
                    >
                              <!-- For large screens -->
                              <div
                                        class="relative order-2 lg:order-none pt-12 flex flex-col items-center justify-center lg:w-1/2 lg:mx-6"
                              >
                                        <picture
                                                  class="z-20 aspect-[285/428] h-auto w-full max-w-[460px] lg:hidden"
                                        >
                                                  <img
                                                            decoding="async"
                                                            class="aspect-[285/428] h-auto w-full object-contain opacity-80 rounded-lg"
                                                            alt="Salsa Dance"
                                                            src=""
                                                            draggable="false"
                                                            loading="eager"
                                                  />
                                        </picture>

                                        <div
                                                  class="absolute z-30 flex flex-col items-center justify-center text-center"
                                        >
                                                  <span
                                                            class="w-24 h-2 mb-10 bg-gradient-to-r from-gray-600 to-white rounded"
                                                  ></span>
                                                  <h1
                                                            class="text-5xl lg:text-6xl xl:text-7xl font-extrabold leading-tight text-white uppercase"
                                                  >
                                                            Clases de
                                                            <span class="text-[#ca6cff]">Salsa</span>
                                                  </h1>
                                                  <a
                                                            href="https://wa.me/34645089122?text=Hola,%20quiero%20más%20información%20sobre%20la%20clase%20de%salsa"
                                                            class="mt-8 sm:mt-10 px-6 py-3 bg-[#ca6cff] text-white rounded-full transition-transform transform hover:scale-105
								hover:bg-[#b635ff] hover:shadow-lg"
                                                  >
                                                            Clase de prueba
                                                            gratis
                                                  </a>
                                        </div>
                              </div>

                              <!-- For large screens -->
                              <div
                                        class="relative order-1 lg:order-none pt-12 lg:w-1/2 lg:mx-6 hidden lg:block"
                              >
                                        <MarcoImage />
                              </div>
                    </div>
          </HeroSection>

          <h2
                    class="text-3xl font-extrabold text-white px-8 pt-10 flex flex-wrap items-center max-w-4xl w-full mx-auto"
          >
                    ¿Qué aprenderás en nuestras clases de {" "}
                    <span class="text-[#ca6cff] ml-2"> Salsa </span>?
          </h2>

          <p
                    class="text-lg mt-6 text-white px-7 pb-16 flex items-center max-w-4xl mx-auto leading-relaxed"
          >
                    En nuestras clases de Salsa, aprenderás a sentir y bailar al
                    ritmo de la música, desarrollando habilidades para moverte
                    de forma fluida y natural. Además, te enseñaremos cómo
                    bailar sin pareja y a dominar las coreografías más
                    populares. ¡Ven a disfrutar de una clase gratis y empieza a
                    moverte con confianza!
          </p>

          <PresentationVideo>
                    <video
                              autoplay="autoplay"
                              muted="muted"
                              loop="loop"
                              preload="preload"
                              src=""
                              class="w-full h-full object-cover rounded-lg shadow-lg max-w-4xl mx-auto"
                              slot="video-background"></video>
          </PresentationVideo>

          <Knowledge KnowledgeData={KnowledgeData} />
</Layout>
