---
import HeroSection from "../../components/HeroSection.astro";
import Knowledge from "../../components/Knowledge.astro";
import SaraImage from "../../components/SaraImage.astro";
import PresentationVideo from "../../components/PresentationVideo.astro";
import Layout from "../../layouts/Layout.astro";

const KnowledgeData = [
          {
                    title: "Movimiento de brazos",
                    image: "/Movimiento-de-brazos.webp",
          },
          {
                    title: "Movimiento Corporal",
                    image: "/Movimiento-corporal-sara.webp",
          },
          {
                    title: "Pasos Libres",
                    image: "/Pasos-libres-sara.webp",
          },
          {
                    title: "Coreografía",
                    image: "/Coreografía-sara.webp",
          },
];
---

<Layout title="Lady Style">
          <HeroSection>
                    <div
                              class="container relative flex flex-col pt-6 lg:flex-row px-6 mx-auto lg:pt-20 lg:px-0"
                              slot="heroImage"
                    >
                              <!-- For larger screens (two columns) -->
                              <div
                                        class="relative order-2 lg:order-none pt-10 flex flex-col items-center justify-center lg:w-1/2 lg:mx-4"
                              >
                                        <picture
                                                  class="z-20 aspect-[285/428] h-auto w-full max-w-[460px] lg:hidden"
                                                  data-astro-cid-46y7hi3s=""
                                                  data-astro-transition-scope="astro-br4vf3em-1"
                                        >
                                                  <img
                                                            decoding="async"
                                                            class="aspect-[285/428] h-auto w-full object-contain opacity-70"
                                                            alt="Fotografía de Sara Panero"
                                                            src="sarahd-2.png"
                                                            draggable="false"
                                                            loading="eager"
                                                  />
                                        </picture>
                                        <div
                                                  class="absolute z-30 lg:flex flex-col items-center justify-center"
                                        >
                                                  <span
                                                            class="w-20 h-2 mb-12 bg-gray-700"
                                                  >
                                                  </span>
                                                  <h1
                                                            class="text-4xl lg:text-6xl xl:text-7xl font-black leading-none text-white uppercase text-center"
                                                  >
                                                            Bachata
                                                            <span
                                                                      class="text-[#F535AA]"
                                                                      >Lady
                                                                      Style</span
                                                            >
                                                  </h1>
                                                  <button
                                                            class="flex bg-[#F535AA] text-white px-4 py-2 mt-4 rounded-md scale-transition mx-auto"
                                                            >Prueba gratis ahora</button
                                                  >
                                        </div>
                              </div>
                              <!-- For larger screens (two columns) -->
                              <div
                                        class="relative order-1 lg:order-none hidden lg:flex lg:w-1/2"
                              >
                                        <SaraImage />
                              </div>
                    </div>
          </HeroSection>

          <section class="about-us-section">
                    <h2
                              class="text-2xl font-bold text-white px-10 pt-10 flex justify-start items-center max-w-6xl mx-auto"
                    >
                              ¿Qué enseñamos en nuestras clases?
                    </h2>
                    <!-- SEPARATION aligned with the H2 -->
                    <div class="max-w-6xl h-1 bg-[#F535AA] mx-auto mt-4 mb-10">
                    </div>
          </section>

          <Knowledge KnowledgeData={KnowledgeData} />
          <p
                    class="text-md mt-4 text-white px-10 pb-10 flex justify-center items-center max-w-6xl mx-auto"
          >
                    Adéntrate en el emocionante universo de la bachata con la
                    orientación de una de las bailarinas más destacadas a nivel
                    mundial. Descubre los secretos detrás de su técnica
                    impecable, su excepcional musicalidad y su estilo único que
                    la han convertido en un referente en la escena de la danza.
                    ¡No dejes pasar esta oportunidad de aprender de una
                    verdadera maestra y llevar tu habilidad en la bachata al
                    siguiente nivel!
          </p>
          <PresentationVideo>
                    <video
                              autoplay="autoplay"
                              muted="muted"
                              loop="loop"
                              preload="preload"
                              src="video-bg-sara.mp4"
                              class="w-full h-full object-cover"
                              slot="video-background"
                    >
                    </video>
          </PresentationVideo>
</Layout>
