---
import Layout from "@/layouts/Layout.astro";
import HeroSection from "@/components/HeroSection.astro";
import Modalities from "@/components/Modalities.astro";
import ImageMasonry from "@/components/ImageMasonry.astro";
import HistoryLocation from "@/components/HistoryLocation.astro";
import Footer from "@/components/Footer.astro";
import Socials from "@/components/Socials.astro";

// Datos de las modalidades de baile
const modalitiesData = [
  {
    title: "Bachata en Pareja",
    image:
      "https://media.istockphoto.com/id/1195081192/es/foto/bailarines-en-jeans-vaqueros-bailando-bachata-sobre-fondo-gris.jpg?s=2048x2048&w=is&k=20&c=69O3UhF8uGByN06ef7WGDm2KE34jAUKL2-qgo1YjJts=",
    description: "Aprende los movimientos sensuales de la bachata en pareja.",
    link: "/bachata-en-pareja-elche",
  },
  {
    title: "Salsa",
    image:
      "https://media.istockphoto.com/id/1195081192/es/foto/bailarines-en-jeans-vaqueros-bailando-bachata-sobre-fondo-gris.jpg?s=2048x2048&w=is&k=20&c=69O3UhF8uGByN06ef7WGDm2KE34jAUKL2-qgo1YjJts=",
    description:
      "Disfruta del ritmo y la alegría de la salsa en nuestras clases de elche.",
    link: "/salsa-elche",
  },
  {
    title: "Lady Style",
    image:
      "https://media.istockphoto.com/id/1195081192/es/foto/bailarines-en-jeans-vaqueros-bailando-bachata-sobre-fondo-gris.jpg?s=2048x2048&w=is&k=20&c=69O3UhF8uGByN06ef7WGDm2KE34jAUKL2-qgo1YjJts=",
    description:
      "Domina la técnica y el estilo de la salsa en línea con el profesor más experimentado.",
    link: "/lady-style-elche",
  },
];

// URLs de imágenes para el masonry

const galleryImages = [
  "https://images.unsplash.com/photo-1517423440428-a5a00ad493e8?w=600&h=800&fit=crop",
  "https://images.unsplash.com/photo-1504384308090-c894fdcc538d?w=600&h=400&fit=crop",
  "https://images.unsplash.com/photo-1504384308090-c894fdcc538d?w=600&h=400&fit=crop",
  "https://images.unsplash.com/photo-1504384308090-c894fdcc538d?w=600&h=400&fit=crop",
  "https://images.unsplash.com/photo-1504384308090-c894fdcc538d?w=600&h=400&fit=crop",
];
---

<Layout title="The Latin Action | Escuela de Baile en Elche">
  <main class="text-white">
    <!-- Hero Section -->
    <HeroSection />

    <!-- Modalidades -->
    <Modalities modalities={modalitiesData} />

    <!-- Galería de Imágenes -->
    <ImageMasonry images={galleryImages} />

    <!-- Historia y Ubicación -->
    <HistoryLocation />
  </main>
  <Footer />
</Layout>
