---
import Layout from "@/layouts/Layout.astro";
import HeroSection from "@/components/HeroSection.astro";
import Schedule from "@/components/Schedule.astro";
import HomeImage from "@/components/HomeImage.astro";
import Knowledge from "@/components/Knowledge.astro";
import Partners from "@/components/Partners.astro";
import PresentationVideo from "@/components/PresentationVideo.astro";
import Footer from "@/components/Footer.astro";

let KnowledgeData = [
  {
    title: "Ritmo de Bachata",
    image:
      "https://imagedelivery.net/4-G5Kx2wHcK3gRDUXWrgEw/6c17daf9-3d58-444d-3786-258e5c33d500/public",
    shortDesc:
      "Aprende a seguir el ritmo de la bachata, una danza suave y sensual.",
  },
  {
    title: "Movimiento Corporal",
    image:
      "https://imagedelivery.net/4-G5Kx2wHcK3gRDUXWrgEw/7bbf6cf6-d766-40e7-369e-887722b39600/public",
    shortDesc:
      "Domina el movimiento corporal para una expresión más sensorial y fluida.",
  },
  {
    title: "Baile Sin Pareja",
    image:
      "https://imagedelivery.net/4-G5Kx2wHcK3gRDUXWrgEw/c4adda27-6696-4487-d5ff-91501b218e00/public",
    shortDesc:
      "Baila con libertad sin pareja, adaptando tus movimientos a la música.",
  },
  {
    title: "Coreografía de Bachata",
    image:
      "https://imagedelivery.net/4-G5Kx2wHcK3gRDUXWrgEw/c3d597d2-6730-4afc-e467-a91a93e42600/public",
    shortDesc:
      "Aprende los pasos y movimientos que definen la bachata moderna y tradicional.",
  },
];
---

<Layout
  title="Bachata en Pareja en Elche | The Latin Action"
  description="Aprende bachata en pareja en Elche. Clases para todos los niveles con profesores expertos en un ambiente dinámico y divertido."
  canonical="https://thelatinaction.com/bachata-en-pareja-elche/"
>
  <main class="flex flex-col">
    <HeroSection>
      <div
        class="max-w-4xl container relative flex flex-col lg:flex-row mx-auto lg:pt-2 lg:px-4"
        slot="heroImage"
      >
        <!-- For small screens -->
        <div
          class="relative order-2 lg:order-none flex flex-col items-center justify-center lg:w-1/2 lg:max-w-lg lg:mx-6"
        >
          <picture class="block lg:hidden mt-8">
            <img
              decoding="async"
              class="w-full max-w-md mx-auto object-cover rounded-lg shadow-lg opacity-90 h-screen"
              alt="Fotografía de Juan Carlos Latin Action Bachata en Elche"
              src="https://imagedelivery.net/4-G5Kx2wHcK3gRDUXWrgEw/f39784e7-d142-4780-c4ff-a8203dbeb800/public"
              draggable="false"
              loading="eager"
            />
          </picture>

          <!-- Responsive Content -->
          <div
            class="absolute z-30 flex flex-col items-center justify-center text-center lg:text-left lg:pl-12"
          >
            <span
              class="hidden lg:block w-24 h-2 mb-10 bg-gradient-to-r from-gray-600 to-white rounded"
            ></span>
            <h1
              class="text-5xl p-4 text-white md:text-6xl font-bold tracking-wide"
            >
              Aprende Bachata de forma presencial con <span
                class="text-[#ff638c]">The Latin Action</span
              >
            </h1>
            <a
              href="https://wa.me/34645089122?text=Hola,%20quiero%20más%20información%20sobre%20las%20clases"
              class="px-8 py-4 bg-[#ff638c] text-white font-medium rounded-full shadow-md hover:bg-[#ff638c] transition duration-300 transform hover:scale-105"
            >
              ¡Reserva tu clase de prueba!
            </a>
          </div>
        </div>

        <!-- For large screens -->
        <div
          class="relative order-1 lg:order-none pt-12 lg:w-1/2 lg:mx-6 hidden lg:block"
        >
          <HomeImage />
        </div>
      </div>
    </HeroSection>

    <!-- Rest of your sections remain unchanged -->
    <h2
      class="text-3xl font-extrabold text-white px-4 pt-10 flex flex-wrap items-center max-w-4xl w-full mx-auto lg:px-4"
    >
      ¿Qué aprenderás en las clases de <span class="text-[#ff638c] ml-2"
        >Latin Action</span
      >?
    </h2>

    <p class="text-lg mt-6 text-white px-4 pb-10 max-w-4xl mx-auto lg:px-4">
      Ya seas principiante o tengas experiencia, en Latin Action encontrarás
      clases adaptadas a tu nivel. Aprende a moverte al ritmo de la bachata, a
      expresar tus emociones con libertad y a dominar los pasos básicos y
      avanzados. ¡Ven y disfruta de una clase gratis con el
      <span class="text-[#ff638c]">profesor experto</span> Juan Carlos!
    </p>

    <PresentationVideo>
      <!-- Mobile Video -->
      <video
        autoplay="autoplay"
        controls="controls"
        muted="muted"
        loop="loop"
        preload="preload"
        src="https://res.cloudinary.com/dgvvnopu7/video/upload/v1732571099/vqprqk7p7ujdoctm7res.webm"
        class="w-full h-auto object-contain rounded-lg shadow-lg opacity-80"
        slot="mobile-video"></video>

      <!-- Desktop Video -->
      <video
        autoplay="autoplay"
        controls="controls"
        muted="muted"
        loop="loop"
        preload="preload"
        src="https://res.cloudinary.com/dgvvnopu7/video/upload/v1732571111/fyxa1hcq6hlljpijs7bu.webm"
        class="w-full h-auto object-cover rounded-lg shadow-lg opacity-80"
        slot="desktop-video"></video>
    </PresentationVideo>

    <!-- Knowledge Section -->
    <Knowledge KnowledgeData={KnowledgeData} />

    <!--     <Schedule /> -->

    <Partners />

    <Footer />
  </main>

  <style>
    main {
      overflow: hidden;
    }
  </style>
</Layout>
