---
const { text, selector = ".split-text" } = Astro.props;
---

<p
  class={`${selector.replace(".", "")} text-2xl md:text-3xl lg:text-5xl font-light leading-relaxed text-bold`}
>
  {text}
</p>

<script type="module">
  import("/scripts/animateParagraph.js").then(({ animateParagraph }) => {
    animateParagraph(".split-text");
  });
</script>

<style>
  .split-text {
    line-height: 1.6;
    color: rgb(255, 255, 255);
    overflow: hidden;
  }

  .split-text .line {
    display: block;
  }

  .split-text .char {
    display: inline-block;
  }
</style>
