---
import { theme } from "../pages/theme";
---

<div
	class="flex flex-col max-w-4xl items-center justify-center p-6 rounded-lg shadow-lg backdrop-blur-md transition-all duration-300
	bg-white/10 hover:bg-[#496080]/20 cursor-pointer"
	style={`color: ${theme.cardColors.textColor}`}
>
	<slot name="background" class="w-32 h-32 object-cover rounded-full" />
	<div class="p-5" style={`color: ${theme.common.textColor};`}>
		<h5>
			<slot
				name="title"
				class="text-lg font-semibold"
			/>
		</h5>
	</div>
	<p>
		<slot
			name="content"
			class="text-sm"
			style={`color: ${theme.common.textColor};`}
		/>
	</p>
</div>
