---
import Socials from "@/components/Socials.astro";
---

<footer class="bg-gray-900 text-white py-8">
  <div
    class="max-w-5xl mx-auto px-4 flex flex-col md:flex-row justify-between items-center"
  >
    <!-- Sección Izquierda -->
    <div class="mb-6 md:mb-0">
      <img
        src="https://res.cloudinary.com/dgvvnopu7/image/upload/f_auto,q_auto,w_800/gu9isd9n7m4iwojv87f4"
        alt="logo"
        class="size-16 mr-2"
      />
    </div>
    <!-- Sección Central -->
    <nav class="mb-6 md:mb-0 text-center" aria-label="Menú del pie de página">
      <ul class="flex flex-row gap-5">
        <li class="list-none">
          <a href="/" class="hover:text-pink-500" aria-label="Ir a la página de inicio">Inicio</a>
        </li>
        <li class="list-none">
          <a href="/galeria/" class="hover:text-pink-500" aria-label="Ver galería de fotos">Galería</a>
        </li>
        <li class="list-none">
          <a href="/contacto/" class="hover:text-pink-500" aria-label="Ir a la página de contacto">Contacto</a>
        </li>
      </ul>
    </nav>

    <Socials />
  </div>
</footer>

<div class="text-center text-sm p-8 font-normal">
  &copy; {new Date().getFullYear()} The Latin Action. Todos los derechos reservados.
</div>