<div class="w-full max-w-xs">
          <img
              src="juancar.png"
              alt="Bachata Image"
              draggable="false"
              class="object-contain w-full h-auto rounded-lg shadow-lg"
          />
      </div>