---
import Card from "./Card.astro";
const { KnowledgeData } = Astro.props;
---

<div
  class="grid grid-cols-1 md:grid-cols-2 gap-6 w-full max-w-5xl mx-auto py-6 px-6 lg:px-4 pb-2"
>
  {
    KnowledgeData.map(
      (
        item: { title: string; image: string; shortDesc: string },
        index: number,
      ) => (
        <Card
          title={item.title}
          image={item.image}
          shortDesc={item.shortDesc}
          eager={true}
          all
          eager
        />
      ),
    )
  }
</div>
