---
import Card from "./Card.astro";

// Tipado de las props utilizando TypeScript
const { KnowledgeData } = Astro.props;
---

<!-- Presenta lo que las personas pueden aprender -->
<div
          class="max-w-4xl mx-auto px-5 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 my-5"
>
          {
                    /* @ts-ignore */
                    KnowledgeData.map((item, index) => (
                              <div
                                        class={
                                                  index ===
                                                  KnowledgeData.length - 1
                                                            ? "lg:col-start-2"
                                                            : ""
                                        }
                              >
                                        <Card>
                                                  <img
                                                            slot="background"
                                                            src={item.image}
                                                            alt={`Imagen de ${item.title}`}
                                                            class="object-contain w-full h-full"
                                                            draggable="false"
                                                  />
                                                  <h5
                                                            slot="title"
                                                            class="flex items-center justify-center"
                                                  >
                                                            {item.title}
                                                  </h5>
                                                  <p slot="content">
                                                            {item.shortDesc}
                                                  </p>
                                        </Card>
                              </div>
                    ))
          }
</div>
