<div class="w-full max-w-4xl">
    <img
        src="https://imagedelivery.net/4-G5Kx2wHcK3gRDUXWrgEw/0efe0563-1f5c-4e0c-12e4-06feea110b00/public"
        alt="Bachata Image"
        draggable="false"
        class="object-contain w-full h-auto rounded-lg shadow-lg"
    />
</div>
