<div class="aspect-w-16 aspect-h-9">
    <img
        src=""
        alt="Bachata Image"
        draggable="false"
        class="bg-cover object-contain p-5 w-full h-full rounded-lg shadow-lg m-auto md:max-w-sm"
    />
</div>
