<p
	class="text-md mt-4 text-white px-10 pb-10 flex justify-center items-center max-w-6xl mx-auto"
>
	Sumérgete en el apasionante mundo de la bachata con la guía de uno de
	los bailarines más aclamados a nivel mundial. Descubre los secretos
	detrás de su técnica impecable, su excepcional musicalidad y su estilo
	único que lo han convertido en un referente en la escena de la danza.
	¡No te pierdas esta oportunidad de aprender de un verdadero maestro y
	llevar tu habilidad en la bachata al siguiente nivel!
</p>

<div
	class="flex items-center justify-center h-full w-full max-w-6xl mx-auto
			shadow-sm bg-opacity-50 z-10 pb-10 px-10"
>
	<video
		autoplay="autoplay"
		muted="muted"
		loop="loop"
		preload="preload"
		src="video-bg.mp4"
		class="w-full h-full object-cover"
	>
	</video>
</div>
