<div
	class="flex items-center justify-center h-full w-full max-w-4xl mx-auto shadow-sm bg-opacity-50 z-10 pb-10 px-6 lg:px-4"
>
	<div class="block lg:hidden w-full h-full">
		<slot name="mobile-video" />
	</div>

	<div class="hidden lg:block w-full h-full">
		<slot name="desktop-video" />
	</div>
</div>
