<div class="absolute inset-0 flex justify-center items-center">
          <img
                    src="sarahd.webp"
                    alt="Bachata Image"
                    draggable="false"
                    class="bg-cover object-contain p-5 w-2/3 rounded-lg shadow-lg"
          />
</div>
