<div class="text-center md:text-right">
  <p class="mb-4 flex justify-center font-normal">Síguenos en redes sociales:</p>
  <div class="flex space-x-4 justify-center">
    <a
      title="Facebook de The Latin Action clases de baile"
      aria-label="Facebook de The Latin Action"
      href="https://www.facebook.com/latinactionsb/"
      target="_blank"
      rel="noopener noreferrer"
      class="hover:text-pink-500"
    >
      <!-- Icono de Facebook -->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="w-6 h-6"
        fill="currentColor"
        viewBox="0 0 24 24"
      >
        <path
          d="M22 12a10 10 0 10-11.46 9.95v-7.05h-2.27v-2.9h2.27V9.64c0-2.24 1.33-3.49 3.38-3.49.98 0 2 .18 2 .18v2.2h-1.13c-1.12 0-1.47.7-1.47 1.42v1.71h2.5l-.4 2.9h-2.1v7.05A10 10 0 0022 12z"
        ></path>
      </svg>
    </a>
    <a
      title="Instagram de The Latin Action clases de baile"
      aria-label="Instagram de The Latin Action"
      href="https://www.instagram.com/juancarlosyluna"
      target="_blank"
      rel="noopener noreferrer"
      class="hover:text-pink-500"
    >
      <!-- Icono de Instagram -->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="w-6 h-6"
        fill="currentColor"
        viewBox="0 0 24 24"
      >
        <path
          d="M12 2.16c3.2 0 3.584.012 4.85.07 1.17.056 1.96.248 2.42.416a4.6 4.6 0 011.6.924c.415.415.7.883.924 1.6.168.46.36 1.25.416 2.42.058 1.266.07 1.65.07 4.85s-.012 3.584-.07 4.85c-.056 1.17-.248 1.96-.416 2.42a4.6 4.6 0 01-.924 1.6c-.415.415-.883.7-1.6.924-.46.168-1.25.36-2.42.416-1.266.058-1.65.07-4.85.07s-3.584-.012-4.85-.07c-1.17-.056-1.96-.248-2.42-.416a4.6 4.6 0 01-1.6-.924c-.415-.415-.7-.883-.924-1.6-.168-.46-.36-1.25-.416-2.42C2.172 15.584 2.16 15.2 2.16 12s.012-3.584.07-4.85c.056-1.17.248-1.96.416-2.42a4.6 4.6 0 01.924-1.6c.415-.415.883-.7 1.6-.924.46-.168 1.25-.36 2.42-.416C8.416 2.172 8.8 2.16 12 2.16zM12 0C8.736 0 8.332.014 7.052.072c-1.28.058-2.163.25-2.922.53a6.73 6.73 0 00-2.447 1.64 6.73 6.73 0 00-1.64 2.447c-.28.76-.472 1.643-.53 2.922C.014 8.332 0 8.736 0 12c0 3.264.014 3.668.072 4.948.058 1.28.25 2.163.53 2.922a6.73 6.73 0 001.64 2.447 6.73 6.73 0 002.447 1.64c.76.28 1.643.472 2.922.53C8.332 23.986 8.736 24 12 24c3.264 0 3.668-.014 4.948-.072 1.28-.058 2.163-.25 2.922-.53a6.73 6.73 0 002.447-1.64 6.73 6.73 0 001.64-2.447c.28-.76.472-1.643.53-2.922C23.986 15.668 24 15.264 24 12c0-3.264-.014-3.668-.072-4.948-.058-1.28-.25-2.163-.53-2.922a6.73 6.73 0 00-1.64-2.447 6.73 6.73 0 00-2.447-1.64c-.76-.28-1.643-.472-2.922-.53C15.668.014 15.264 0 12 0zm0 5.838a6.162 6.162 0 100 12.324 6.162 6.162 0 000-12.324zm0 10.162a4 4 0 110-8 4 4 0 010 8zm6.406-11.845a1.44 1.44 0 11-2.88 0 1.44 1.44 0 012.88 0z"
        ></path>
      </svg>
    </a>
    <a
      title="YouTube de The Latin Action clases de baile"
      aria-label="YouTube de The Latin Action"
      href="https://youtube.com"
      target="_blank"
      rel="noopener noreferrer"
      class="hover:text-pink-500"
    >
      <!-- Icono de YouTube -->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="w-6 h-6"
        fill="currentColor"
        viewBox="0 0 24 24"
      >
        <path
          d="M23.498 6.186a2.956 2.956 0 00-2.08-2.084C19.516 3.6 12 3.6 12 3.6s-7.516 0-9.418.502A2.956 2.956 0 00.5 6.186 30.933 30.933 0 000 12a30.933 30.933 0 00.5 5.814 2.956 2.956 0 002.082 2.082C4.484 20.4 12 20.4 12 20.4s7.516 0 9.418-.504a2.956 2.956 0 002.082-2.082A30.933 30.933 0 0024 12a30.933 30.933 0 00-.502-5.814zM9.545 15.568V8.432l6.273 3.568-6.273 3.568z"
        ></path>
      </svg>
    </a>
  </div>
</div>
