---
import HeroSection from "@/components/HeroSection.astro";
import Knowledge from "@/components/Knowledge.astro";
import Layout from "@/layouts/Layout.astro";
import Footer from "@/components/Footer.astro";
import Schedule from "@/components/Schedule.astro";
import Partners from "@/components/Partners.astro";
import Benefits from "@/components/Benefits.astro";

const KnowledgeData = [
  {
    title: "Conexión en Pareja",
    image: "/conexion-pareja.webp",
    shortDesc:
      "Aprende a guiar y dejarte guiar, creando una conexión auténtica con tu pareja de baile.",
  },
  {
    title: "Técnica de Giro",
    image: "/tecnica-giro.webp",
    shortDesc:
      "Domina los giros básicos y avanzados para que tu baile sea fluido y elegante.",
  },
  {
    title: "Estilo y Expresión",
    image: "/expresion-estilo.webp",
    shortDesc:
      "Añade tu toque personal a cada paso y disfruta expresando emociones en la pista.",
  },
  {
    title: "Musicalidad",
    image: "/musicalidad.webp",
    shortDesc:
      "Aprende a interpretar la música, marcando pausas, acentos y jugando con los tiempos.",
  },
];
---

<Layout
  title="The Latin Action | Clases de Bachata en Pareja en Elche"
  description="Clases de Bachata en Pareja en Elche con Juan Carlos y Luna - Aprende a bailar con pasión, técnica y conexión en un ambiente cálido y profesional."
  keywords="Bachata en Pareja, Clases de Bachata en Elche, The Latin Action"
  canonical="https://thelatinaction.com/bachata-y-salsa-en-pareja-elche/"
>
  <HeroSection
    mobileImage="https://res.cloudinary.com/dgvvnopu7/image/upload/v1755363437/IMG_20250816_185043_rcvf3z.jpg"
    tabletImage="https://res.cloudinary.com/dgvvnopu7/image/upload/v1755363437/IMG_20250816_185043_rcvf3z.jpg"
    xlImage="https://res.cloudinary.com/dgvvnopu7/image/upload/v1755352383/Foto_de_Juan_Carlos_y_Luna_The_Latin_Action_Salsa_y_Bachata_en_la_playa_absfwn.jpg"
    heroTitle="Bachata en Pareja"
    heroSpan="en Elche"
    heroSubtitle="Descubre la complicidad, el ritmo y la pasión de la bachata con The Latin Action."
  />

  <h2
    class="text-4xl font-extrabold tracking-tight text-freshPeach-500
         px-4 pt-10 mb-14 max-w-5xl w-full mx-auto lg:px-4 drop-shadow-md"
  >
    ¿Qué aprenderás en las clases de
    <span class="text-freshApricot-200 font-extrabold tracking-wide"
      >Bachata en Pareja</span
    >?
  </h2>

  <p
    class="mt-10 max-w-5xl mx-auto px-4 pb-5 text-xl leading-relaxed text-freshPeach-100 lg:px-4"
  >
    La bachata en pareja es un baile que transmite
    <span class="font-semibold text-freshPeach-500"
      >cercanía, emoción y complicidad</span
    >. En nuestras clases aprenderás a conectar con tu pareja a través del
    movimiento, a interpretar la música y a expresarte con naturalidad en cada
    paso. Con la experiencia de
    <span class="font-semibold text-freshMint-400">Juan Carlos y Luna</span>,
    descubrirás cómo convertir el baile en una experiencia única y romántica.
  </p>

  <Knowledge KnowledgeData={KnowledgeData} />

  <Benefits />

  <Schedule />

  <Partners />

  <Footer />
</Layout>
