---
import HeroSection from "@/components/HeroSection.astro";
import Knowledge from "@/components/Knowledge.astro";
import Layout from "@/layouts/Layout.astro";
import Schedule from "@/components/Schedule.astro";
import Partners from "@/components/Partners.astro";
import Benefits from "@/components/Benefits.astro";

const KnowledgeData = [
  {
    title: "Conexión en Pareja",
    image: "https://res.cloudinary.com/dgvvnopu7/image/upload/v1757001131/juancarlos_y_luna_the_latin_action_bachata_elche_elda_y_novelda-_conexion_en_pareja_w3i3on.webp",
    shortDesc:
      "Aprende a guiar y dejarte guiar, creando una conexión auténtica con tu pareja de baile.",
  },
  {
    title: "Estilo y Expresión",
    image: "https://res.cloudinary.com/dgvvnopu7/image/upload/v1757001636/DSC01238_iotxnv.webp",
    shortDesc:
      "Añade tu toque personal a cada paso y disfruta expresando emociones en la pista.",
  },
  {
    title: "Musicalidad",
    image: "https://res.cloudinary.com/dgvvnopu7/image/upload/v1757001554/juancarlos_y_luna_the_latin_action_bachata_elche_elda_y_novelda_expresion_n3nw5b_11677e.webp",
    shortDesc:
      "Aprende a interpretar la música, marcando pausas, acentos y jugando con los tiempos.",
  },
];
---

<Layout
  title="Clases de Bachata y Salsa en Elche | The Latin Action con Juan Carlos y Luna"
  description="Clases de Bachata y Salsa en Pareja en Elche, Elda y Novelda con Juan Carlos y Luna. Aprende a bailar con pasión, técnica y conexión en un ambiente cálido y profesional."
  keywords="Bachata en Pareja, Clases de Bachata en Elche, Bachata y Salsa en Pareja Elche, Juan Carlos y Luna, Academia de baile Elche, Salsa en Pareja, Clases de Salsa en Elda, Clases de Baile en Novelda"
  canonical="https://thelatinaction.com/bachata-y-salsa-en-pareja-elche/"
>
  <HeroSection
    mobileImage="https://res.cloudinary.com/dgvvnopu7/image/upload/v1757764591/DSC01307_vy0rum_f37cc7.webp"
    tabletImage="https://res.cloudinary.com/dgvvnopu7/image/upload/v1757764591/DSC01307_vy0rum_f37cc7.webp"
    xlImage="https://res.cloudinary.com/dgvvnopu7/image/upload/v1755352383/Foto_de_Juan_Carlos_y_Luna_The_Latin_Action_Salsa_y_Bachata_en_la_playa_absfwn.jpg"
    heroTitle="Clases de"
    heroSpan="Bachata y Salsa"
  />

  <h2
    class="text-4xl font-bebas tracking-tight text-freshPeach-500 uppercase px-6 pt-10 mb-14 max-w-5xl w-full mx-auto drop-shadow-md"
  >
    Vive la experiencia de nuestras Clases de Bachata y Salsa en Elche, Novelda y Elda
  </h2>

  <p
    class="mt-10 max-w-5xl mx-auto px-6 pb-2 text-xl leading-relaxed text-freshPeach-100 lg:px-4 font-normal"
  >
    Bailar en pareja no es solo moverse al ritmo, es <strong>crear complicidad</strong>. 
    Aquí aprenderás a guiar y dejarte guiar, a escuchar la música… y a tu pareja. 
    Con <span class="font-normal text-freshMint-400 font-semibold">Juan Carlos y Luna</span> 
    descubrirás que cada paso puede ser natural, divertido y hasta romántico.
  </p>

  <p
    class="mt-10 max-w-5xl mx-auto px-6 pb-2 text-xl leading-relaxed text-freshPeach-100 lg:px-4 font-normal"
  >
    Practicamos <strong>baile, conexión y musicalidad</strong>, mezclando la 
    <strong>bachata tradicional</strong> con toques de <strong>bachata sensual</strong>. 
    Así podrás adaptarte al ritmo de cada canción y disfrutar de un baile más fluido, 
    elegante y lleno de energía compartida.
  </p>

  <Knowledge KnowledgeData={KnowledgeData} />

  <Benefits />

  <Schedule />

  <Partners />

</Layout>
