---
interface Props {
	title: string;
}

const { title } = Astro.props;
import { ViewTransitions } from "astro:transitions";
import Header from '../components/Header.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="https://res.cloudinary.com/dgvvnopu7/image/upload/v1733045642/mdxefmywlroo3wpogcvj.png" />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body class="bg-gradient-to-r from-slate-950 via-slate-700 to-slate-800">
		<Header />
		<slot />
	</body>
</html>

<style is:global>
	html {
		scroll-behavior: smooth;
	}
	@font-face {
		font-family: "Dance";
		src: url("/fonts/Dancing Script.ttf") format("truetype");
		font-weight: semibold;
	}
	img {
		mask-image: linear-gradient(black 70%, transparent 95%);
	}

	.scale-transition {
		transition: transform 0.5s ease-out;
		transform: scale(1);
		filter: drop-shadow(0 0 0.5rem white);
	}

	.scale-transition:hover {
		transform: scale(1.05); /* Scale on hover */
		filter: drop-shadow(0 0 0.5rem #ff004d);
	}

	.exclude-filter {
		filter: none !important; 
	}
</style>
